<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Reset your password <%= @user.email %>.<br>
    </p>
    <h3>
      <a href="http://www.xyz.com/newform?=<%= @user.email%>">Click here to Reset</a>
    </h3>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>